.btn:active {
  transform: scale(0.98);
}

.hero-image {
  height: 650px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
        /* rgba(0, 143, 203, 0.5),
      rgba(0, 143, 203, 0.5),
      rgba(0, 143, 203, 0.5) */
    ),
    url('/butterfly-hero.jpg');
}

@media screen and (max-width: 600px) {
  .hero-image {
    height: 550px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
          /* rgba(0, 143, 203, 0.6),
        rgba(0, 143, 203, 0.6) */
      ),
      url('/butterfly-hero-mobile.jpg');
    background-position: 25% 55%;
  }
}
